
html,body {
  height:100%;
  width: 100%;
  margin:0;
}

/* ===Shared CSS============================= */
.theme-color {
  background-color: #98FFCC;
  border-color: #98FFCC;
}

.space-top {
  padding-top: 6%;
}

.contents {
  margin-top: 2%;
  min-height: 100vh;
  text-align: center;
}

.section-header-text {
  font-size: 45px;
}

.link-url {
  font-size: 20px;
  margin: 0 10px;
  color: white;
}

/* ===header CSS============================= */
.intro-bg {
  height: 100vh;
  text-align: center;
  color: white;
  background-image: url('../images/home-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*filter: grayscale(100%) contrast(80%);*/
}

.intro-text {
  padding-top: 250px;
  padding-bottom: 100px;
}

#header-text {
  font-size: 55px;
}

#resume-download {
  background-color: black;
  opacity: 0.7;
  margin-top: 6%;
  padding: 15px 32px;
  border-radius: 10px;
}

#resume-download-text {
  opacity: 1;
  color: white;
  margin-bottom: 0;
}

/* ===Nav Bar CSS============================= */
#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #98FFCC;
  font-family: Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #98FFCC;
}

#mainNav .navbar-brand img {
  width: 6vmax;
  transform: rotate(45deg);
  margin-left: 2vw
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 15px;
    padding-bottom: 10px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    /*font-size: 1.75em;*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    /*font-size: 1.25em;*/
    height: 20px;
    /*padding: 12px 0;*/
  }

  #mainNav .navbar-brand img {
    width: 5vmax;
    transform: rotate(45deg);
    margin-left: 2vw
  }
}

/* ===Services CSS============================= */
.services-image {
  width: 200px;
  height: 200px;
  margin-bottom: 25px;
}

/* ===Portfolio CSS============================= */
section#portfolio {
  background-color: #edeeef;
}

.portfolio-image {
  width:100%;
}

.single-menu {
  /*width:*/
  opacity: 0;
  transition: .5s ease;
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.portfolio-image-div:hover .single-menu{
  background-color: black;
  width: 93%;
  height: 100%;
  opacity: 0.8;
}

.portfolio-image-div:hover .single-menu-text{
  opacity: 1;
  margin: 7% 0;
  color: white;
  font-size: 16px;
}

.portfolio-image-div:hover .anchor-site{
  opacity: 1;
  /*margin-top: 15px;*/
  margin-top: 2%;
  margin-right: 20px;
  margin-left: 20px;
  border: 3px solid #e9ecef;
  color: white;
  /*font-size: 16px;*/
  padding: 16px 32px;
}


/* ===About - Timeline CSS============================= */
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  width:100%;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/* ===Contact CSS============================= */
section#contact {
  background-color: #212529;
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
