<!-- Modal -->
<div class="modal fade" id="codeShareModal" tabindex="-1" role="dialog" aria-labelledby="codeShareModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title section-heading text-uppercase" id="codeShareModalTitle">CodeShare</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          This project is designed to allow users to create documents and share them to others for real-time collaboration. CodeShare provides chat and syntax highlighting for over 110 languages. This web app is suitable for teaching(training) and real-time collaboration.
        </p>
        <ul>
          <li>
            Meteor
          </li>
          <li>
            Node.js
          </li>
          <li>
            React
          </li>
          <li>Material UI
          </li>
          <li>
            MongoDB
          </li>
          <li>
            WebSocket
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <a href="https://github.com/rinahong/codeShare" target="_blank" class="anchor-text">Source Code</a>
      </div>
    </div>
  </div>
</div>
